///
@use "components/variables";
@use "components/taskbar";
@use "components/header";
@use "components/footer";

@use "pages/pagina-1/pag-1";
@use "pages/pagina-2/pag-2";
@use "pages/pagina-3/pag-3";
@use "pages/pagina-4/pag-4";
@use "pages/pagina-5/pag-5";
///

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//Colores main//
:root {
    --main-color: blue; /* Color principal por defecto */
    --background-color: #FCE7C8; /* Fondo por defecto */
    --text-color: rgb(255, 255, 255); /* Texto por defecto */
}

body {
    background-color: var(--background-color) !important; /* Bootstrap tiene una clase que superpone esta orden */
}