///
@use "../../components/variables" as v;
/// 

/* Sección Categorías */

.categorias-p2{ /* Categorías */
    font-family: 'Courier New', Courier, monospace;
    padding: 40px 0px;
    background-color: v.$three;
    height: auto;
    h2{ /* Título */
        font-size: 45px;
        text-align: center;
        padding: 0px 0px 25px 0px;
    }
    nav{ /* Menú */
        text-align: center;
        padding: 0px 0px 15px 0px;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 5px;
        a{ /* Enlaces */
            text-decoration: none; /* Quitamos el subrayado de los enlaces */
            color: v.$five;   /* Color de los enlaces */
            font-size: 20px;    /* Tamaño del texto de los enlaces */
            font-weight: bold; /* Grosor del texto de los enlaces */
            background-color: v.$two;   /* Color de fondo de los enlaces */
            margin: 10px 0px;
            padding: 5px 5px 5px 5px;   /* Espaciado interior de los enlaces */
            border-radius: 5px; /* Bordes redondeados */
            cursor: pointer;    /* Cambiamos el cursor al pasar por encima */   
        }
        a:hover{ /* Efecto hover */
            margin: 10px 0px;
            background-color: v.$five; /* Cambiamos el color de fondo al pasar por encima */
            color: black;  /* Cambiamos el color del texto al pasar por encima */
            text-decoration: underline; /* Subrayamos el texto al pasar por encima */
            text-underline-offset: 4px; /* Añadimos un margen al subrayado */
            text-decoration-thickness: 2px;  /* Grosor del subrayado */
        }
    }
    
}

/* Media */
@media (min-width: 768px){
    .categorias-p2{
        font-size: 20px;
    }
}
