/* Sección Inicio */

.inicio-p4{
    display: block;
    height: 200px;
    align-content: center;
    padding: 50px 0px 50px 350px;
    h1{
        font-size: 86px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        color: black;
    }
}
