//Variables

//Colores
$titulos: rgb(204, 120, 10);
$link: rgb(32, 211, 157);
$fondos: rgb(158, 173, 68);


@mixin borde-redondeado($radio, $border) {
    border-radius: $radio;
    border: $border;
}

.boton-enlace{
    background-color: $fondos;
    color: $titulos;
    @include borde-redondeado(5px, 0px solid black);
    transition: 1s;
    &:hover{
        animation: balance 1s;
    }
}

.balance{
    animation: balance 1s;
    @keyframes balance{
        0%{
            transform: rotate(0deg);
        }
        50%{
            transform: rotate(2deg) scale(1.1);
        }
        75%{
            transform: rotate(-4deg) scale(1.1);
        }
        100%{
            transform: rotate(0deg);
        }
    }
}