///
@use "../../components/variables" as v;
/// 

/* Sección Consejos */



.consejos-p3{
    margin: 0;
    background-color: v.$two; /* Color de fondo de la sección */ 
    padding: 70px 25px 70px 25px; /* Espaciado interior de la sección */
    h1{ /* Título */
        font-family: "Poppins", serif;
        font-size: 40px;
        text-align: center;
        padding: 0;
    }
    p{ /* Párrafos */
        font-size: 18px;
        text-align: center;
        padding: 5px 0px 5px 0px;
    }
    img{ /* Imagen */
        display: block;
        margin: 50px auto 50px auto;
        border-radius: 25px;
    }
}

/* Tabla Recomendaciones  */

.tabla-consejos-p3 { /* Tabla */ 
    margin: 0 auto;
    padding: 0px 0px 72px 0px;
    list-style: none;
    h2 { /* Títulos */
        font-size: 23px;
        font-family: "Poppins", serif;
        text-align: center;
        margin: 0;
        padding: 25px 0px 10px 0px;
    }
    
    p{ /* Párrafos */
        color: v.$four;
        font-weight: bold;
        font-size: 18px;
        padding: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}


