///
@use "../../components/variables" as v;
/// 

/* Sección de recetas */

.recetas{
    font-family: 'Courier New', Courier, monospace; /* Fuente */
    background-color: v.$four; /* Color de fondo de la sección */
    padding: 100px 25px 100px 25px; /* Espaciado interior de la sección */
    h2{
        color: v.$three;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        padding: 0px 0px 15px 0px;
    }
    p{
        font-size: 20px;
        text-align: center;
        color: v.$three;
        font-weight: 600;
        padding: 0px 0px 25px 0px;
    }
    table{
        margin: 0 auto;
        width: 90%;
        border: 0px solid rgba(0, 0, 0, 0); // La unica forma que logre para sacr el borde a la tabla//
        th{ 
            color: black;
            font-size: 15px;
            background-color: v.$three;
            text-align: center;
            padding: 15px 22px 15px 22px;
            border-radius: 50px;
        }
        td{
            color: black;
            font-size: 15px;
            background-color: v.$five; /* Aplica a toda la tabla */
            padding: 15px 10px 15px 10px;
            border-radius: 10px;
        }
        td.recename { /* Aplica solo a la clase recename, que es la que contiene el nombre de la receta */
            background-color: v.$one;
        }
    }
}	

/* Media */

@media (min-width: 576px) {
    .recetas{
        @include v.borde-redondeado(25px, 0px solid black);
    }
    .recetas h2{
        font-size: 50px;
        text-align: center;
        padding: 0px 0px 15px 0px;
    }
    .recetas p{
        text-align: center;
        padding: 0px 0px 25px 0px;
    }
    .recetas table{
        width: 60%;
    }
    
}


