///
@use "../../components/variables" as v; 
/// 

/* Seccón Taskbar */

.taskbar{
    position: fixed;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        flex-direction: row;
        margin: 0;
        li{
            margin: 0px 10px 10px 10px;
            list-style: none;
            button{
                border: none;
                @include v.borde-redondeado(50px, 2px solid rgb(240, 203, 203));
                a{
                    padding-right: 0px;
                    span{
                        display: none;
                    }
                    img{
                        width: 80px;
                        height: 80px;
                        padding: 0px 10px;
                    }
                }
                
            }
        }
    }
}
#noticias { /* Esto es para que al llevarte al la sección de bienvenida se vea correctamente */
    padding-top: 150px;
}

#historia { /* Esto es para que al llevarte al la sección de bienvenida se vea correctamente */
    padding-top: 120px;
    margin-top: -100px;
}

#utensilios { /* Esto es para que al llevarte al la sección de bienvenida se vea correctamente */
    padding-top: 120px;
    margin-top: -100px;
}

#ubi { /* Esto es para que al llevarte al la sección de bienvenida se vea correctamente */
    padding-top: 120px;
    padding-bottom:120px;
}


/* Media */
@media (min-width: 874px){
    .taskbar ul li button a {
        padding-right: 20px;
        text-decoration: none;
    }
    .taskbar ul li button a span {
        display: inline;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        color: v.$link;
        
    }
}
